[Desktop Entry]
Name=Hyprland (Nvidia) - Outdated, do not use.
Comment=An intelligent dynamic tiling Wayland compositor
Exec=/usr/share/wayland-sessions/wrappedHL-nvidia
Type=Application
