* {
  border: none;
  font-family: monospace;
  font-weight: bold;
  font-size: 15px;
}

window#waybar {
  background: rgba(0, 0, 0, 0.6);
}

tooltip {
  color: #aecfff;
  background: rgba(0, 0, 0, 0.9);
  opacity: 0.95;
  border-left: 1px solid #7287fd;
  border-right: 1px solid #7287fd;
  border-radius: 20px;
}

#workspaces button {
  color: #9daddd;
  margin: 0px 5px;
  padding: 0px 5px;
  padding-bottom: 1px;
  opacity: 0.5;
}

#workspaces button.active {
  transition-duration: 0.7s;
  font-weight: bolder;
  opacity: 1;
  color: #aecfff;
}

#workspaces button:hover {
  transition-duration: 1s;
  color: #aecfff;
  background: rgba(0, 0, 0, 0.5);
  opacity: 1;
}

#cpu,
#memory,
#clock,
#battery,
#pulseaudio,
#network,
#workspaces,
#tray,
#backlight,
#window {
  padding: 0px 10px;
  margin: 3px 0px;
}

#tray {
  border-color: white;
  border-radius: 10px;
  margin-right: 4px;
}

#clock {
  color: #aecfff;
  border: 1px solid #1e66f5;
  border-radius: 100px;
  opacity: 1;
}

#clock:hover {
  transition-duration: 0.8s;
  color: black;
  background-color: #7287fd;
}

#network {
  color: #7287fd;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 80px;
}

#network:hover {
  transition-duration: 0.8s;
  color: black;
  background-color: #7287fd;
  border-radius: 80px;
}

#cpu {
  color: #8a8a8a;
  background-color: rgba(0, 0, 0, 0.2);
  border-right: none;
  border-bottom: 0.4px solid gray;
  border-radius: 80px 0px 0px 80px;
  opacity: 0.8;
}

#memory {
  color: #8a8a8a;
  background-color: rgba(0, 0, 0, 0.2);
  border-left: none;
  border-bottom: 0.4px solid gray;
  margin-right: 8px;
  border-radius: 0px 80px 80px 0px;
  opacity: 0.8;
}

#backlight {
  color: #aecfff;
  border-right: none;
  border-bottom: 0.4px solid #4455ee;
  border-radius: 80px 0px 0px 80px;
  opacity: 0.9;
}

#pulseaudio {
  opacity: 0.9;
  color: #aecfff;
  border-left: none;
  border-bottom: 0.4px solid #4455ee;
  border-radius: 0px 80px 80px 0px;
}

#pulseaudio:hover {
  opacity: 1;
  transition-duration: 0.7s;
  color: black;
  background-color: #7287fd;
  border-radius: 80px;
}

#battery {
  color: #aecfff;
  margin: 3px 7px;
  border: 0.7px solid #8839ef;
  border-radius: 80px;
}

#window {
  border: 0.5px solid #209fd5;
  border-radius: 100px;
  color: #aecfff;
}
